<% include ./partials/header %>
  <!-- add ajax form to add list items -->
  <div class="panel panel-default">
    <div class="panel-heading well">Todos:</div>
      <table class='table'>
        <!-- <tr>
          <th>Update</th>
          <th>Item</th>
          <th>Complete</th>
          <th>Delete</th>
        </tr> -->
        <tr class="list-group">
        <!-- stuff -->
        </tr>
      </table>
    </div>
  </div>
  </br>
  <div>
  <div class="panel panel-default">
    <div class="panel-heading">Add:</div>
      <form class="form-inline well" style="background-color: ghostwhite;" id="new-todo-form">
        <input type="text" class="form-control" name="item" placeholder="Whatcha gotta do?">
        <input type="submit" class="btn btn-default add-btn"/>
      </form>
    </div>
  </div>

<% include ./partials/footer %>
